@use '../2-atoms/a-mixins' as *;

.home-metabase {
    margin: 0 auto;
    background-color: var(--mc-home-opportunities);
    padding: 3.75rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__panel {
        display: flex;
        flex-direction: column;
        gap: size(12);
    }

    // background-color: var(--mc-gray-100);
    &__content {
        align-items: flex-start;
        color: var();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: size(1170);
        z-index: 2;
        gap: size(18) size(13);
    }

    &__subtitle {
        color: var(--mc-white);
    }

    &__spcinfo {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__left {
        color: var(--mc-white);
        display: flex;
        flex-direction: column;
        gap: size(16);
        align-items: flex-start;

        @media (max-width:size(600)) {
            align-items: center;
        }
    }

    &__vline {
        width: 1px;
        height: 67px;
        background-color: var(--mc-black);
        margin: 0 size(56);

        @media (max-width:size(600)) {
            margin: 0 size(48)
        }
    }

    &__header {
        margin: 0 auto;
        max-width: 73.125rem;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr size(455);

        @media (max-width:size(600)) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        width: size(285);
        max-width: 100%;
    }

    &__text {
        @media (max-width:size(600)) {
            text-align: center;
        }
    }

    &__card {
        width: size(371);
        max-width: 100%;
        background-color: var(--mc-white);
        border: size(1) solid var(--mc-gray-100);
        padding: size(16);
        border-radius: size(8);

        @media (max-width:size(500)) {
            width: size(297);
        }

    }

    &__spcinfo {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1.25rem;
    }

    &__cardtitle {
        display: grid;
        grid-template-columns: size(32) 1fr;
        gap: size(16);
    }

    &__opcard {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: size(337);
        padding: size(21);
        gap: size(16);

        @media (max-width:size(600)) {
            padding: 0;
            max-width: size(297);
            margin: 19px 0 23px 0;
        }

    }

    &__label {}

    &__leftvalue {
        font-size: size(32);
        line-height: normal;
    }

    &__rightvalue {
        font-size: size(24);
        line-height: normal;
    }

    &__leftlabel {
        font-size: 14px;
        font-style: normal;
    }

    &__rightlabel {
        font-size: 14px;
        font-style: normal;
    }

    &__value {
        font-size: size(48);
        font-style: normal;

    }

    &__lmvalue {
        font-size: size(32);
        font-style: normal;

    }

    &__rmvalue {
        font-size: 24px;
        font-style: normal;
    }

    &__opinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon {
        background-color: var(--mc-white);
        font-size: size(24);
    }

    &__agents {
        width: size(29);
        height: size(23);
    }
    &__long {
        font-size: size(22);

    }
    &__short {
        font-size: size(32);
    }
}